.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-list .icon {
    fill: currentColor;
}

.clients-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: solid 1px var(--icon-clients-section-color);
    border-radius: 4px;
    color: var(--icon-clients-section-color);
    transition: color var(--translate-options), border var(--translate-options);
}

.clients-list .link:hover,
.clients-list .link:focus {
    color: var(--icon-main-hover-color);
    border: solid 1px var(--icon-main-hover-color);
}